 /**{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }*/
  :root{
    --text-color: white;
    --bg-url: url(assets/bg-mobile.jpg);
    --stroke-color: rgba(255,255,255, 0.5);
    --surface-color: rgba(255,255,255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --switch-bg-url: url(assets/assets/moon-stars.svg);
  }

  .light{
    --text-color: black;
    --bg-url: url(assets/bg-desktop-light.jpg);
    --stroke-color: rgba(0,0,0, 0.5);
    --surface-color: rgba(0,0,0, 0.05);
    --surface-color-hover: rgba(0,0,0,0.02);
    --switch-bg-url: url(assets/assets/sun.svg)
  }

body {
  text-align: center;
  background: var(--bg-url) no-repeat top center/cover; 

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  /*background: image repeat position/size*/
  /*background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;*/
}

body * {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--text-color);
}

#container {
  background-color: var(--surface-color);
  height: 550px;
  max-width: 588px;
  width: 100%;
  margin: 56px auto 0px;
  padding: 0 24px;

  border-radius: 10px;
  border: 1px solid var(--stroke-color);
  margin-top: 45px;

  backdrop-filter: blur(4px);
  --webkit-backdrop-filter: blur(4px);
  }

  #profile {
    text-align: center;
    padding: 10px;
    height: 150px;
  }

  #profile img{
    display: block;
    width: 112px;
    margin: auto;
  }

  #switch{
    position: relative;
    width: 64px;
    margin: 4px auto;
  }

  #switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0px;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform:translateY(-50%);
  }

  .light #switch button{
    right: 0;
    left: initial;
  }

  #switch span{
    display: block;
    width: 62px;
    height: 24px;
    background: var(--surface-color);

    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    --webkit-backdrop-filter: blur(4px);

    border-radius: 9999px;
  }

  #linkgit {
    font-weight: 500;
    line-height: 24px;
  }

  #linklinkedin {
    font-weight: 500;
    line-height: 24px;
  }

  a{
    padding: 7px;
    
    text-decoration: none;
    width: 250px;

    background: var(--surface-color-hover);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

  }

  a:hover{
    transition: background 1s;
    backdrop-filter: blur(5px);
    border: 1px solid var(--text-color);
    background-color: #A9A9A9;
  }

  

